.tech-icons {
    font-size: 150px;
    max-width: 160px;
    min-width: 100px;
    height: 100px;
    margin: 1px;
    padding: 10px;
    opacity: 0.9;
    border-radius: 10px;
    border: 1.7px solid #0a66c2;
    box-shadow: 4px 5px 4px 3px rgba(62, 2, 117, 0.137);
}

.tech-icons:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    border: 2.2px solid #0f71d3;
}