* {
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: #888 transparent;
}

/* HOME CSS */
.home-autopart {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.home-lotties {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-avatar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-wave {
    display: inline-block;
    animation-duration: 2.1s;
    transform-origin: 70% 70%;
    animation-name: wave-animation;
    animation-iteration-count: infinite;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}